<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% import "head.html.twig" as head %}
        {{ head.meta() }}
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
            <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
            <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js" integrity="sha256-lSjKY0/srUM9BE3dPm+c4fBo1dky2v27Gdjm2uoZaL0=" crossorigin="anonymous"></script>
        {% endblock %}
    </head>
    <body>
        <button type="button" class="page-settings-button" id="display-page-settings">Console JS</button>
        <button type="button" class="page-settings-button" id="upload-page-settings">Mettre à jour</button>
        {% block body %}{% endblock %}
    </body>
</html>
